<div class="text-center">
	<h1>{{member.firstName}} {{member.lastName}}</h1>
	<br/>
</div>
<p ng-show="message.length" class="alert alert-info">{{message}}</p>
<div class="row">
	<div class="col-md-offset-4 col-md-4"
		ng-repeat="chat in member.chatList">
		<div class="panel panel-default panel-primary">
			<div class="panel-body">
				<ul class="list-group list-inline">
			        <div class="text-center">
			            <li class="list-item"><a href="#"><img class="img-circle" src="http://placehold.it/150x150"/></a></li>
			        </div>
				</ul>
				<a href="/#/group/{{chat.id}}"><h4 class="text-center">{{chat.chatName}}</h4></a>
			</div>
		</div>
	</div>
</div>